.popup-content {
    margin: auto;
    background: transparent;
    width: 85vw;
    padding: 5px;
    
    border: 0px;
  }

  @media (min-width:768px){
    .popup-content{
        width: 70vw;
    }
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.625) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }